#canvas-area {
    position: relative;
    top: 0;
    left: 0;
    height: 650px;
}
#canvas-area canvas {
    position: absolute;
    top: 0;
    left: 0;
    border: solid 1px #000;
}
#input-area {
    position: absolute;
    bottom: 0;
}